<h1>Acerca de</h1>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm" style="height: 100%">
          <img src="../../../assets/img/Juan.jfif" />
          <div class="card-body d-flex flex-column">
            <h3>Juan David Del Rio Isaza</h3>
            <div class="mb-auto">
              <p class="card-text">
                <b>Código universitario 2021114038</b>
                <br />
                Joven de 23 años de séptimo semestre de Ingeniería de Sistemas,
                complementando su formación con un técnico en Desarrollo de
                Software y Aplicaciones Móviles. de Ingeniería de Sistemas.
              </p>
            </div>
            <button type="button" class="btn btn-primary mt-auto" data-bs-toggle="modal" data-bs-target="#Modal1">
              Ver aporte
            </button>

            <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Aportes
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">- Frontend base development -anything</div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm" style="height: 100%">
          <img src="../../../assets/img/Diomedes.jfif" />
          <div class="card-body d-flex flex-column">
            <h3>Diomedes Farid Cerda Leon</h3>
            <div class="mb-auto">
              <p class="card-text">
                <b>Código universitario 2021114064</b>
                <br />
                Joven de 21 años que se encuentra cursando el séptimo semestre
                de Ingeniería de Sistemas.
              </p>
            </div>
            <button type="button" class="btn btn-primary mt-auto" data-bs-toggle="modal" data-bs-target="#Modal2">
              Ver aporte
            </button>

            <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      er titulo
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">Esternocleidomastoideo</div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="height: 100%">
          <img src="../../../assets/img/Gadiel.jfif" />
          <div class="card-body d-flex flex-column">
            <h3>Gadiel Arturo Comas Quiroga</h3>
            <div class="mb-auto">
              <p class="card-text">
                <b>Código universitario 2022114105</b>
                <br />
                Joven de 21 años de noveno semestre de Ingeniería de Sistemas
                tras un traslado desde Ingeniería Electrónica, complementando su
                formación con un técnico en Conservación de Recursos Naturales.
              </p>
            </div>
            <button type="button" class="btn btn-primary mt-auto" data-bs-toggle="modal" data-bs-target="#Modal3">
              Ver aporte
            </button>

            <div class="modal fade" id="Modal3" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      er otro
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">Esternocleidomastoideo</div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="height: 100%">
          <img src="../../../assets/img/Mauricio.jpg" />
          <div class="card-body d-flex flex-column">
            <h3>Mauricio Elias Polo Martinez</h3>
            <div class="mb-auto">
              <p class="card-text">
                <b>Código universitario 2022114104</b>
                <br />
                Joven de 21 años que se encuentra cursando el noveno semestre de
                Ingeniería de Sistemas tras un traslado desde Ingeniería
                Electrónica.
              </p>
            </div>
            <button type="button" class="btn btn-primary mt-auto" data-bs-toggle="modal" data-bs-target="#Modal4">
              Ver aporte
            </button>

            <div class="modal fade" id="Modal4" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      er titulo
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">Esternocleidomastoideo</div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm" style="height: 100%">
          <img src="../../../assets/img/Hernan.jfif" />
          <div class="card-body d-flex flex-column">
            <h3>Hernan Andres Chaverra Suarez</h3>
            <div class="mb-auto">
              <p class="card-text">
                <b>Código universitario 2020144040</b>
                <br />
                Joven de 25 años que se encuentra cursando el octavo semestre de
                Ingeniería de Sistemas.
              </p>
            </div>
            <button type="button" class="btn btn-primary mt-auto" data-bs-toggle="modal" data-bs-target="#Modal5">
              Ver aporte
            </button>

            <div class="modal fade" id="Modal5" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      er titulo
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">Esternocleidomastoideo</div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>