<h1>Acerca de</h1>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/img/Juan.jfif" />
          <div class="card-body">
            <h3>Juan David Del Rio Isaza</h3>
            <p class="card-text"></p>
            <b>Código universitario 2021114038</b>
            <br />
            Joven de 23 años que se encuentra en el séptimo semestre de
            Ingeniería de Sistemas, complementando su formación con un técnico
            en Desarrollo de Software y Aplicaciones Móviles.
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Ver
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Editar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/img/Diomedes.jfif" />
          <div class="card-body">
            <h3>Diomedes Farid Cerda Leon</h3>
            <p class="card-text">
              <b>Código universitario 2021114064</b>
              <br />
              Joven de 21 años que se encuentra cursando el séptimo semestre de
              Ingeniería de Sistemas.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Ver
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Editar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/img/Gadiel.jfif" />
          <div class="card-body">
            <h3>Gadiel Arturo Comas Quiroga</h3>
            <p class="card-text">
              <b>Código universitario 2022114105</b>
              <br />
              Joven de 21 años que se encuentra en el noveno semestre de
              Ingeniería de Sistemas tras un traslado desde Ingeniería
              Electrónica, complementando su formación con un técnico en
              Conservación de Recursos Naturales.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Ver
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Editar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/img/Mauricio.jpg" />
          <div class="card-body">
            <h3>Mauricio Elias Polo Martinez</h3>
            <p class="card-text">
              <b>Código universitario 2022114104</b>
              <br />
              Joven de 21 años que se encuentra cursando el noveno semestre de
              Ingeniería de Sistemas tras un traslado desde Ingeniería
              Electrónica.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Ver
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Editar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/img/Hernan.jfif" />
          <div class="card-body">
            <h3>Hernan Andres Chaverra Suarez</h3>
            <p class="card-text">
              <b>Código universitario 2020144040</b>
              <br />
              Joven de 25 años que se encuentra cursando el octavo semestre de
              Ingeniería de Sistemas.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Ver
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Editar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
