<div class="row">
  <div class="col-lg-4">
    <img
      src="../../../assets/img/master.jpg"
      width="autto"
      height="140"
      style="border-radius: 10px"
    />
    <h2 class="fw-normal">SCRUM Master</h2>
    <p>Juan David Del Rio Isaza</p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img
      src="../../../assets/img/product owner.png"
      width="autto"
      height="140"
      style="border-radius: 10px"
    />
    <h2 class="fw-normal">Product Owner</h2>
    <p>Gadiel Arturo Comas Quiroga</p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img
      src="../../../assets/img/developer.png"
      width="autto"
      height="140"
      style="border-radius: 10px"
    />
    <h2 class="fw-normal">SCRUM Dev</h2>
    <p>Diomedes Farid Cerda Leon</p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img
      src="../../../assets/img/developer.png"
      width="autto"
      height="140"
      style="border-radius: 10px"
    />
    <h2 class="fw-normal">SCRUM Dev</h2>
    <p>Mauricio Elias Polo Martinez</p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img
      src="../../../assets/img/developer.png"
      width="autto"
      height="140"
      style="border-radius: 10px"
    />
    <h2 class="fw-normal">SCRUM Dev</h2>
    <p>Hernan Andres Chaverra Suarez</p>
  </div>
  <!-- /.col-lg-4 -->
</div>
