<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <!-- <img src="../../../assets/img/logo.png"> -->
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/" class="nav-link px-2 link-secondary">Inicio</a></li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Proyectos
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Requerimientos</a></li>
          <li><a class="dropdown-item" routerLink="/scrum">SCRUM Team</a></li>
          <li><a class="dropdown-item" href="#">SWEBOK</a></li>
        </ul>
      </li>
      <li><a href="#" class="nav-link px-2">Ciclos de Vida</a></li>
      <li><a routerLink="/about" class="nav-link px-2">Acerca de</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">
        Iniciar Sesión
      </button>
      <button type="button" class="btn btn-primary">Registrarse</button>
    </div>
  </header>
</div>
