
<ul class="list-group">
    <li class="list-group-item list-group-item-action list-group-item-primary"><div align="center" style="font-size: 30px; padding-bottom: 10px;">Modelo SWEBOK</div></li>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item list-group-item-action list-group-item-primary">Requisitos de software</li>
        <li class="list-group-item list-group-item-action list-group-item-primary">Diseño de software</li>
        <li class="list-group-item list-group-item-action list-group-item-primary">Construcción de software</li>
        <li class="list-group-item list-group-item-action list-group-item-primary">Pruebas de software</li>
        <li class="list-group-item list-group-item-action list-group-item-primary">Mantenimiento de software</li>
        <li class="list-group-item list-group-item-action list-group-item-primary">Gestión de la configuración</li>
        <li class="list-group-item list-group-item-action list-group-item-primary">Gestión de la Ingenieria de Software</li>
        <li class="list-group-item list-group-item-action list-group-item-primary">Proceso de Ingenieria de Software</li>
        <li class="list-group-item list-group-item-action list-group-item-primary">Herramientas y métodos de la Ingenieria de Software</li>
        <li class="list-group-item list-group-item-action list-group-item-primary">Calidad del software</li>
        <li class="list-group-item list-group-item-action list-group-item-primary">Práctiva profesional de la Ingenieria de Software</li>
        <li class="list-group-item list-group-item-action list-group-item-primary">Economía de la Ingenieria de Software</li>
    </ol>
  </ul>