<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Requerimientos</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">#1</h3>
        <p>Como docente, necesito visualizar la disponibilidad de los cubículos para una fecha y hora específica, con el objetivo de seleccionar aquel que mejor se ajuste a mis necesidades.</p>
      </div>
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">#2</h3>
        <p>Como docente, deseo realizar la reserva de un cubículo para una fecha y hora específicas, especificando la duración de esta, con el fin de asegurar mi espacio de trabajo.</p>
      </div>
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">#3</h3>
        <p>Como docente, solicito la posibilidad de cancelar una reserva previamente realizada, con el objetivo de adaptarme a cambios en mi agenda o imprevistos que puedan surgir.</p>
      </div>
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">#4</h3>
        <p>Como docente, solicito la recepción de una confirmación por correo electrónico de mi reserva, cancelación o modificación, con el fin de tener un registro fehaciente de la misma.</p>
      </div>
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">#5</h3>
        <p>Como docente, solicito la posibilidad de consultar el historial de mis reservas, con el objetivo de llevar un control de mis actividades.</p>
      </div>
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">#6</h3>
        <p>Como administrador, requiero la visualización de un reporte detallado sobre la ocupación y uso de los cubículos, con el objetivo de optimizar su asignación y gestión eficiente.</p>
      </div>
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">#7</h3>
        <p>Como docente, necesito que mis credenciales de inicio de sesión sean mi correo electrónico y contraseña institucional.</p>
      </div>
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">#8</h3>
        <p>Como administrador, solicito la posibilidad de añadir nuevos cubículos.</p>
      </div>
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">#9</h3>
        <p>Como administrador, solicito la posibilidad de añadir una foto a cada cubículo con el objetivo de proporcionar una descripción visual de cada espacio.</p>
      </div>
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">#10</h3>
        <p>Como docente, solicito la posibilidad de consultar mi historial de sanciones con el objetivo de conocer el estado de mi cuenta.</p>
      </div>
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">#11</h3>
        <p>Como administrador, necesito la posibilidad de cancelar las reservas de los docentes ausentes y aplicar automáticamente las sanciones correspondientes.</p>
      </div>
    </div>
  </div>