<div style="justify-content: center; display: flex;"> 
    <img src="../../../assets/img/login.png">
</div>
<section class="w-100 p-4 d-flex justify-content-center pb-4">
    <form style="width: 22rem;">
         <!-- Name input -->
      <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control">
        <label class="form-label" for="form2Example1">Nombre</label>
      </div>

      <!-- Name input -->
      <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control">
        <label class="form-label" for="form2Example1">Apellido</label>
      </div>
       
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control">
        <label class="form-label" for="form2Example1">Correo electronico</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control">
        <label class="form-label" for="form2Example2">Clave</label>
      </div>

      <!-- Password again input -->
      <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control">
        <label class="form-label" for="form2Example2">Confirmar Clave</label>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          
        </div>

      
      </div>

      <!-- Submit button -->
      <div style="display: flex; justify-content: center;"><button type="button" class="btn btn-primary btn-block mb-4">Registrarse</button></div>

      <!-- Register buttons -->
      <div class="text-center">

        <p>O inicia sesión con:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
    </form>
  </section>